
.Question_question{
    display: flex;
    justify-content: center;

}
.Question_text{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
    margin-top: 1em;
    margin-left: 10px;
    margin-right: 10px;

}
.answerButton{
    font-family: 'Montserrat', sans-serif;
    border-radius: 50px;
    font-size: 1.5em;
    flex-direction: column;
}
.answerButton:hover{
    opacity: 0.5;
    cursor: pointer;
}

