.headlineWait {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 100px;
}

.spinner {
    margin-top: 50px;
}

.names {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 100px;
}

@media only screen and (min-width: 560px) {
    .headlineWait {
        margin-top: 250px;
    }
}